{% extends "base.html" %}
{% load static %} 
{% block title %}Module List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Modules</h2>
    <!-- Search and Action Buttons in One Line -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <form method="GET" class="mr-2">
          <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="Search Module Groups" aria-label="Search Module Groups" value="{{ request.GET.search }}">
              <div class="input-group-append">
                  <button class="btn btn-outline-primary" type="submit">
                      <i class="fas fa-search"></i>
                  </button>
              </div>
          </div>
      </form>
      <div>
          
          <button class="btn btn-outline-success" title="Import Module Group from Excel" data-toggle="modal" data-target="#importModal" data-toggle="tooltip">
              <i class="fas fa-file-import"></i> Import
          </button>
          <a href="{% url 'module_group:export_modules' %}" class="btn btn-outline-primary" title="Export Users to Excel" data-toggle="tooltip">
              <i class="fas fa-file-export"></i> Export
          </a>
          <a href="{% url 'module_group:module_add' %}" class="btn btn-primary">
            <i class="fas fa-plus"></i> Add New Module
        </a>
      </div>
  </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Module Name</th>
                <th>Module Group</th>
                <th>Icon</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for module in modules %}
            <tr>
                <td>{{ forloop.counter }}</td>  <!-- Add this line to show the row number -->
                <td>{{ module.module_name }}</td>
                <td>{{ module.module_group }}</td>
                <td><i class="{{ module.icon }}"></i></td>
                <td>
                    <a title="Details" href="{% url 'module_group:module_detail' module.pk %}" class="btn btn-info btn-sm"><i class="fas fa-info-circle"></i></a>
                    <a title="Edit"  href="{% url 'module_group:module_edit' module.pk %}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                    <a title="Delete" href="{% url 'module_group:module_delete' module.pk %}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>

<!-- Import Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="importModalLabel">Import Module Groups from Excel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Import Form -->
          <form method="post" enctype="multipart/form-data" action="{% url 'module_group:import_modules' %}">
          <div class="mb-4">
            <span>
              Please download and use the <a href="{% static 'excel/import_modules.xlsx' %}" target="_blank">Excel template</a>. The Excel file must contain exactly one sheet with the required columns.
            </span>
          </div>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Upload</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Initialize Bootstrap Tooltips -->
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
{% endblock %}
